{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Application for Type Approval</title>
    <style>
        .colon {
            column-width:20px;
          }
    </style>
</head>

<body>


    
    {% block reportlink %}
    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    {% endblock reportlink %}

    {% block content %}
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <form action="{% url 'new_user' %}" >
                <!-- {% if messages %}
                {% for message in messages %}

                <div class="alert alert-{{message.level_tag}}" role="alert">
                    {{message.message}}
                </div>

                {% endfor %}
                {% endif %} -->
                <div class="card">
                    <div class="card-body">
                        <br>
                        <br>
                        <img src="{% static 'img/cemilac_logo_title.png' %}">
                        <hr>
                        <table class="noborder" style="text-align: left;text-justify: auto;font-size: 15px;padding:15px;">
                             <tbody>
                            <tr>
                                    <td style="width: 48%;">1.Name of the Agency </td>
                                   <td style="width: 2%;">:</td>
                                    <td style="width: 50%;">{{firmname}}</td>
                                    </tr>
                               
                                <tr>
                                    <td>2.Address of the Agency <br> a.Design and Development </td>
                                <td>:</td>
                                <td> {{addr1}}</td>
                            </tr>
                                <tr>
                                    <td>b.Manufacturer / Production</td>
                                    <td >:</td>
                                    <td> {{addr2}}</td>
                                </tr>
                                <tr>
                                    <td>c.Details of ToT</td>
                                    <td>:</td>
                                    <td>{{tot}} </td>
                                </tr>
                                <tr>
                                    <td>3.Details of the item to be type approved
                                        <br>a.Nomenclature(Product Name)</td>
                                    <td>:</td>
                                    <td>{{item_name}} </td>
                                </tr>
                                <tr>
                                    <td>b.Part Number</td>
                                    <td>:</td>
                                    <td>{{part_no}} </td>
                                </tr>
                                <tr>
                                    <td>4.Brief Description with intended use of the product(Not more than 50 words)</td>
                                    <td>:</td>
                                    <td> {{desc}}</td>
                                </tr>
                                <tr>
                                    <td>5.Governing specification of the item</td>
                                    <td>:</td>
                                    <td>{{spec}} </td>
                                </tr>
                                <tr>
                                    <td>6.Build Standard of the item(References to be mentioned and copies to be enclosed) <br>a.DAL/MDI</td>
                                    <td>:</td>
                                    <td>{{dal_mdi}} </td>
                                </tr>
                                <tr>
                                        <td>b.BOM</td>
                                        <td>:</td>
                                        <td>{{bom}} </td>
                                 </tr>
                                <tr>
                                    <td>c.SOP/ACBS</td>
                                    <td>:</td>
                                    <td>{{sop_acbs}} </td>
                                </tr>
                                <tr>
                                    <td>d.Details of the PCs issued</td>
                                    <td>:</td>
                                    <td>{{pc}} </td>
                                </tr>
                                <tr>
                                    <td>7.Type Record</td>
                                    <td>:</td>
                                    <td>{{tre}} </td>
                                </tr>
                                <tr>
                                    <td>8.Any other relevant information
                                    </td>
                                    <td>:</td>
                                    <td> {{otheritems}}</td>
                                </tr>
                            </tbody>
                        </table>
<hr>
<div align="right" style="font-size: 15px;">
        <img src="{{sign}}" width="200" height="100">
        <br>Designation:{{designation}}
        <br>Date:{{date}}
        <br>Address:{{addr}}
</div>
<br>
<div align="left" style="font-size: 15px;">
        Note:<br>
        <ol><li>
            This Type Record Shall be as per CEMILAC directive....date
        </li>
    <li>
        The applicant shall be representing the D&D agency and/or IPR Holder for the item to be type approved
    </li>
    </ol>
</div>
                        
                       
                        <!-- <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on tde card title and make up tde bulk of tde card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>

                <br><br>
                <input type="submit" value="Submit" class="btn btn-primary btn-user btn-block" />
            </form>
        </div>
        <div class="col-1">
        </div>
    </div>



    {% endblock content %}
</body>

</html>