{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'login_1/style.css' %}" />
</head>

<body>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<div class="login-wrap">

		<div class="login-html">

			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
				In</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2"
				class="tab">Firm Registration</label>

			<div class="login-form">
				<form action="loggedin" method="POST">
					{% csrf_token %}
					<div class="sign-in-htm">
						<div class="group">
							<label for="user" class="label">Username</label>
							<input id="user" name="username" type="text" class="input">
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="pass" name="password" type="password" class="input" data-type="password">
						</div>
						<div class="group">
								<label for="role" class="label">Role</label>
								<select class="input" name="role">
										<option style="color:black" selected disabled>Select Role</option>
										<option style="color:black" value="1">App Admin</option>
										<option style="color:black" class="input" value="2">Applicant</option>
										<option style="color:black"  class="input" value="3">Dealing Officer</option>
										<option style="color:black"  class="input" value="4">TA Coordinator</option>
										<option style="color:black"  class="input" value="5">RD</option>
									  </select>
								<!-- <input id="pass" name="password" type="password" class="input"> -->
						</div>
						<div class="group">
							<input id="check" type="checkbox" class="check" checked>
							<label for="check"><span class="icon"></span> Keep me Signed in</label>
						</div>
						<div class="group">
							<input type="submit" class="button" value="Sign In">
						</div>
						<div class="hr"></div>
						<div class="foot-lnk">
							<a href="#forgot">Forgot Password?</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="#forgot">Home</a>
						</div>
					</div>
				</form>
				<form action="sign_up" method="POST">
					{% csrf_token %}
					<div class="sign-up-htm">
						<div class="group">
							<label for="firmname" class="label">Firm Name</label>
							<input id="firmname" name="firmname" type="text" class="input">
						</div>
						<div class="group">
							<label for="firmhead" class="label">Head of Firm</label>
							<input id="firmhead" name="firmhead" type="text" class="input">
						</div>
						<div class="group">
							<label for="addr" class="label">Address</label>
							<textarea id="addr" name="addr" class="input"></textarea>
						</div>
						<div class="group">
							<label for="user" class="label">Username</label>
							<input id="user" name="username" type="text" class="input">
						</div>
						<div class="group">
							<label for="email" class="label">Email Address</label>
							<input id="email" name="email" type="text" class="input">
						</div>

						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="pass" name="password" type="password" class="input" data-type="password">
						</div>
						<div class="group">
							<label for="pass" class="label">Repeat Password</label>
							<input id="pass" name="password1" type="password" class="input" data-type="password">
						</div>

						<div class="group">
							<label for="user" class="label">Included Document Upload</label>
							<input id="doc" name="doc" type="file" class="input">
						</div>
						<div class="group">
							<label for="region" class="label">Region</label>
							<input id="region" name="region" type="text" class="input">
						</div>
						<div class="group">
							<input type="submit" class="button" value="Submit">
						</div>
						<div class="foot-lnk">
							<a href="#forgot" style="text-decoration: underline">Home</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</body>

</html>