{% extends "dashboard/dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cemilac</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>

<body>


    {% block heading %}
    {% endblock heading %}



    {% block content %}
    <div class="row">

        <div class="col-12">

            {% if messages %}
            {% for message in messages %}

            <div class="alert alert-{{message.level_tag}}" role="alert">
                {{message.message}}
            </div>

            {% endfor %}
            {% endif %}
            <div class="card" style="background-color: rgb(69, 126, 231); color:white">


                <div class="card-body">
                    <center> List of Annexures for product - {{idg.sprodname}}</center>

                </div>
            </div>
            <br>

            <!-- <div class="card">
                <div class="card-body">
                    <form action="{% url 'doc_add' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="idprefix" value="{{idprefix}}">
                        <center>
                            <table>

                                <tr>
                                    <td>{{form.filecategory}}</td>
                                    <td>{{form.files}}</td>
                                    <td>{{form.file_refno}}</td>
                                    <td>{{form.refdate}}</td>
                                    <td>
                                        <input type="submit" class="btn btn-primary btn-user btn-block" value="+">
                                    </td>
                                </tr>

                            </table>
                        </center> -->
                        <!-- {{form | crispy}} -->
                    <!-- </form>
                </div>
            </div>
            <br><br>
            {% if details %} -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">


                            <table style="width: 100%;">
                                <tr>
                                    <th>Name</th>
                                    <th>File Category</th>
                                    <th>Ref.No</th>
                                    <th>Ref.Date</th>
                                    <th>View</th>
                                    <th>Replace</th>
                                    <th>Add Below</th>
                                </tr>
                                {% for k in details %}
                                <input type="hidden" name="url" value={{k.doc}}>
                                <input type="hidden" name="ext" value={{k.extension}}>
                                

                                
                        </div><!-- /.modal -->
                        <tr>


                            <td>{{k.refpath}}</td>
                            <td>{{k.filecategory}}</td>
                            <td>{{k.file_refno}}</td>
                            <td>{{k.refdate}}</td>

                            <td><button type="submit" class="btn btn-default">
                                    <i class="fas fa-folder-open"></i>
                                </button></td>

                            <td>
                                <div style="cursor: pointer;"><i class="fas fa-exchange-alt" data-toggle="modal"
                                        data-target="#updatefile{{k.id}}"></i></div>
                            </td>
                            {% if k.relation in 'parent' %}
                            <td>
                                <div style="cursor: pointer;"><i class="far fa-plus-square" data-toggle="modal"
                                        data-target="#ModalExample{{k.id}}"></i></div>
                            </td>
                            {% endif %}
                        </tr>
                        <form role="form" method="POST" action="{% url 'addanotherdoc' %}" name="firm1"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="idnew" value="{{k.id}}">
                                    <input type="hidden" name="refp" value="{{k.refpath}}">
                                    <input type="hidden" name="idprefix" value="{{k.refid}}">



                                    <div id="ModalExample{{k.id}}" class="modal fade" role="dialog">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title text-xs-center">Add Annexure Below -
                                                        {{k.refpath}}</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                                        </button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="row">
                                                        <div class="col-3">
                                                            <div class="form-group">
                                                                <label class="control-label">File Category</label>
                                                                <div>
                                                                    <input type="text" readonly
                                                                        class="form-control input-lg" name="fcat"
                                                                        value="{{k.filecategory}}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Upload Document</label>
                                                                <div>
                                                                    <input type="file" class="form-control input-lg"
                                                                        name="updoc">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Ref.No</label>
                                                                <div>
                                                                    <input type="text" class="form-control input-lg"
                                                                        name="refn">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="form-group">
                                                                <label class="control-label">Ref.Date</label>
                                                                <div>
                                                                    <input type="date" class="form-control input-lg"
                                                                        name="refd">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-1">
                                                            <div class="form-group">
                                                                <label class="control-label">&nbsp;</label>
                                                                <div>
                                                                    <input type="submit"
                                                                        class="btn btn-primary btn-user btn-block"
                                                                        value="+">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- <div class="form-group">
                                                                <div>
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" name="remember"> Remember Me
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                    <!-- <div class="form-group">
                                                                <div> -->
                                                    <!-- <a class="btn btn-link" href="">Forgot Your Password?</a> -->
                                                    <!-- <button type="submit" class="btn btn-info btn-block">Submit</button>
                                                                </div>
                                                            </div> -->
                                                </div>
                                                <!-- <div class="modal-footer text-xs-center">
                                                        :-) -->
                                                <!-- Don't have an account? <a href="/auth/register">Sign up »</a> -->
                                                <!-- </div> -->
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div>
                                </form>

                        <form role="form" method="POST" action="{% url 'doc_change' %}" name="firm2"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="idnew" value="{{k.id}}">
                        <input type="hidden" name="refp" value="{{k.refpath}}">
                        <input type="hidden" name="idprefix" value="{{k.refid}}">



                        <div id="updatefile{{k.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                            
                                        <h4 class="modal-title text-xs-center">Replace {{k.refpath}}</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="row">
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label class="control-label">File Category</label>
                                                    <div>
                                                        <input type="text" readonly
                                                            class="form-control input-lg" name="fcat"
                                                            value="{{k.filecategory}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label class="control-label">Upload Document</label>
                                                    <div>
                                                        <input type="file" class="form-control input-lg"
                                                            name="updoc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label class="control-label">Ref.No</label>
                                                    <div>
                                                        <input type="text" class="form-control input-lg"
                                                            name="refn">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label class="control-label">Ref.Date</label>
                                                    <div>
                                                        <input type="date" class="form-control input-lg"
                                                            name="refd">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <div class="form-group">
                                                    <label class="control-label">&nbsp;</label>
                                                    <div>
                                                        <input type="submit"
                                                            class="btn btn-primary btn-user btn-block"
                                                            value="+">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="form-group">
                                                                    <div>
                                                                        <div class="checkbox">
                                                                            <label>
                                                                                <input type="checkbox" name="remember"> Remember Me
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div> -->
                                        <!-- <div class="form-group">
                                                                    <div> -->
                                        <!-- <a class="btn btn-link" href="">Forgot Your Password?</a> -->
                                        <!-- <button type="submit" class="btn btn-info btn-block">Submit</button>
                                                                    </div>
                                                                </div> -->
                                    </div>
                                    <!-- <div class="modal-footer text-xs-center">
                                                            :-) -->
                                    <!-- Don't have an account? <a href="/auth/register">Sign up »</a> -->
                                    <!-- </div> -->
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                    </form>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>

    </div>



    {% endblock content %}
</body>

</html>